<div class="user_details">
  <div class="detail">Name:</div>
  <div class="user_name info"><%= @user.name %></div>
  
  <div class="detail">e-mail:</div>
  <div class="user_email info"><%= @user.email %></div>
</div>