.user_form {
  width: 350px;
  margin: 10px auto;
  .field {
    margin: 0 auto;
    label {
      display: block;
      float: left;
      text-align: right;
      width: 80px;
      margin: 0 20px;
    }
    input[type='text'] {
      width: 100px;
    }
  } 
  button {
    display: block;
    width: 50px;
    margin: 10px auto;
  }
}